{% load static %}
<div class="pt-4 sticky-lg-top">
    <div class="bg-light rounded">
        <div class="rounded block_popular_header position-relative" style="background: url({% static 'img/create_post_block.png' %});">
            <h5 class="text-dark position-absolute block_popular_header_text">Create content</h5>
        </div>
        
        
        <div class="m-3">
            <p class="text-dark margin-0">Share your thoughts. Let's start creating content, write your post right now!</p>
        </div>

        <button type="button" class="btn btn-primary m-3 btn-sircle" style="width: calc(100% - 32px)">Create New Post</button>
    </div>
</div>