<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    {% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'hot_post' %}">Hot Posts</a>
    </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'like_post_list' %}">Liked</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Followers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'terms' %}">Terms</a>
    </li>
</ul>